# Homework 4

## FINM 37500: Fixed Income Derivatives

* Matheus Raka Pradnyatama
* matheusraka@uchicago.edu

#### Winter 2025

In [1]:
import pandas as pd
import numpy as np
import datetime
import holidays
import seaborn as sns
import math

import matplotlib.pyplot as plt
import matplotlib.dates as mdates

from sklearn.linear_model import LinearRegression

from scipy.optimize import minimize
from scipy import interpolate
from scipy.optimize import fsolve
from scipy.stats import norm

from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import numpy.polynomial.polynomial as poly
# The code here is written with the help of OpenAI's ChatGPT

***

### Data

The file `data/ratetree_data_2025-01-31.xlsx` has a binomial tree of interest rates fit to...
* discount curves from `cap_curves_2025-01-31.xlsx`
* implied vols from `cap_curves_2025-01-31.xlsx`

Note the following...
* Suppose the present date is `2025-01-31`.
* The rates are continuously compounded.
* The rates are for the following quarter. So teh rate at $t=0$ is the continuously compounded rate for the interval $t=0$ to $t=.25$.

Take this binomial tree as given; there is no need to fit it yourself.

In [2]:
import pandas as pd

DATE = '2025-01-31'
FILEIN = f'../data/ratetree_data_{DATE}.xlsx'
sheet_tree = 'rate tree'

ratetree = pd.read_excel(FILEIN, sheet_name=sheet_tree).set_index('state')
ratetree.columns.name = 'time'

ratetree.style.format('{:.1%}',na_rep='').format_index('{:.2f}',axis=1)

***

# 1. Binomial Tree Pricing - Bond

### The Bond

Consider a vanilla (non-callable) bond with the following parameters...
* `T=5`
* coupon rate is `4.41%`
* coupons are semiannual

Note that this is essentially the hypothetical bond priced in HW 1.

### 1.1

Create and display a tree of cashflows from the bond, corresponding to each node of the tree (state and time) seen in the interest rate tree.

Note that the cashflows do not depend on the interest rates. Thus, report the cashflows at the time (in the column) they are actually paid out. The final payoff (face plus coupon) occurs at $T$, which is beyond the interest rate tree. You are welcome to add a column for $T$ or to consider this payoff separately and leave it out of the tree.

In [3]:
cpn_rate = 0.0441 # Annual Coupon Rate
cpn_payment = 100 * cpn_rate / 2 # Semi-annual coupon payment

bond_tree = ratetree.copy() # Copy the structure of the interest rate tree

# Set the initial time step (t = 0) to 0 as no cash flow occurs at issuance
bond_tree[0].iloc[0] = 0

# Iterate through the tree to assign cash flows
for col in bond_tree.columns[1:]:
    if round(4 * col) % 2: # Check if it's NOT a coupon payment time
        for j in range(20): # Loop through each state (20 states at the final step)
            
            # If the time does not correspond to a semiannual coupon date, we set cash flow to 0.
            if not np.isnan(bond_tree[col].iloc[j]): 
                bond_tree[col].iloc[j] = 0
                
    else: # Assign coupon payments at semi-annual intervals
        for j in range(20): 
            # If the time does correspond to a semiannual coupon date, we assign cpn_payment
            if not np.isnan(bond_tree[col].iloc[j]):
                bond_tree[col].iloc[j] = cpn_payment

bond_tree.style.format('{:.3f}',na_rep='').format_index('{:.2f}',axis=1)

/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/3669109459.py:7: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  bond_tree[0].iloc[0] = 0
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/3669109459.py:16: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  bond_tree[col].iloc[j] = 0
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/3669109459.py:22: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  bond_tree[col].iloc[j] = cpn_payment

In [4]:
print(f"Final payment is ${100 + cpn_payment}")

Final payment is $102.205

### 1.2.

Create and display a tree of values of the bond. Do this for the quotes as
* clean quotes
* dirty quotes

Given the semiannual coupons and quarterly tree steps, the clean and dirty will coincide at $t=0, .5, 1,...$.

Do the valuation by...
* setting the value at $T$ as the face plus final coupon.
* discounting this back through time, using the (continuously-compounded) interest rate.
* recall that the tree is constructed such that the probability of moving "up" or "down" is 50%.

In [ ]:
# Binomial Tree - Dirty Quotes

# bond_tree contains the bond cash flows at each node.
# binomial_tree will be used to store the computed bond values at each node.
binomial_tree = bond_tree.copy()

for j in range(20):
    # Compute the Final Payoff at Maturity (T = 4.75)
    # Discount the final payment of 100 + Coupon payment
    # Discounted Value = Cash Flow / e^(rate * delta_t)
    # Interest rate at T=4.75
    # Delta_t is 0.25 (the tree uses quarterly steps)
    binomial_tree[4.75].iloc[j] = (100 + cpn_payment) / np.exp(ratetree[4.75].iloc[j] * 0.25)
    
# Iterate backwards from the second-to-last time step (4.50) to time 0
for i, col in enumerate(binomial_tree.columns[18:0:-1]):
    # Since the binomial tree recombines, the number of states at each time step is one less than the next step.
    for j in range(19-i):
        # Compute the expected future bond price by averaging:
        # The upper node price at time col + 0.25 (jth state).
        # The lower node price at time col + 0.25 (j+1th state).
        # Since each up/down movement is equally likely, we take the simple average.
        avg_price = (binomial_tree[col + 0.25].iloc[j] + 
                     binomial_tree[col + 0.25].iloc[j+1]) / 2
        
        # Discounted Price = Price / e^(rate * delta_t)
        binomial_tree[col].iloc[j] = avg_price / np.exp(ratetree[col].iloc[j] * 0.25) + binomial_tree[col].iloc[j]

# Binomial Estimation for Dirty Price

# average price = (price_up_scenario + price_down_scenario)/2
avg_price_dirty = (binomial_tree[0.25].iloc[0] + binomial_tree[0.25].iloc[1]) / 2

# Discount the average price by rate at time 0 and delta_t = 0.25 (we are discounting from t=0.25 to t=0)
binom_dirty_price = avg_price_dirty / np.exp(ratetree[0].iloc[0] * 0.25)

# Put it in the binonmial tree
binomial_tree[0].iloc[0] = binom_dirty_price

binomial_tree.style.format('{:.1f}',na_rep='').format_index('{:.2f}',axis=1)

/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/1948914543.py:13: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  binomial_tree[4.75].iloc[j] = (100 + cpn_payment) / np.exp(ratetree[4.75].iloc[j] * 0.25)
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/1948914543.py:27: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  binomial_tree[col].iloc[j] = avg_price / np.exp(ratetree[col].iloc[j] * 0.25) + binomial_tree[col].iloc[j]
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/1948914543.py:38: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  binomial_tree[0].iloc[0] = binom_dirty_price

In [6]:
# 1.2 clean
# note that dirty prices on coupon dates DON'T align
# because dirty prices are quoted right before coupon payment

clean_binomial_tree = binomial_tree.copy()

# Loop over each time step
# i = index (0 for t=0, 1 for t=0.25, ...)
# col = actual time value (0, 0.25, 0.50, ...)
for i, col in enumerate(clean_binomial_tree.columns):
    
    # For every midpoint (3 months after the last coupon)
    # t = 0.25, 0.75, 1.25, ...
    # Only half of the next coupon has accrued
    # Clean Price = Dirty Price - (Coupon Payment / 2)
    if i % 2:
        clean_binomial_tree[col] -= cpn_payment / 2
        
    # On other dates, the full previous coupon has accrued
    # Clean Price = Dirty Price - Coupon Payment
    elif i:
        clean_binomial_tree[col] -= cpn_payment

# At t=0, the clean price is the same as the dirty price
clean_binomial_tree[0].iloc[0] = binom_dirty_price

clean_binomial_tree.style.format('{:.1f}',na_rep='').format_index('{:.2f}',axis=1)

/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/2150597750.py:25: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  clean_binomial_tree[0].iloc[0] = binom_dirty_price

### 1.3.

The binomial-estimated price of the bond is the initial node of the value tree.

Report this along with the price of the bond you would get from the usual simple formula for such a bond. 
* Consider pricing it with the $T$ interval swap rate (used similar to a ytm) from the file `cap_curves_2025-01-31.xlsx`.
* If you do this, recall that the swap rate given in that file is quarterly-compounded, so you would need to convert it to semiannual compounding before plugging it into the usual closed-form ytm-pricing formula.

In [7]:
# Binomial Estimation for Dirty Price

# average price = (price_up_scenario + price_down_scenario)/2
avg_price_dirty = (binomial_tree[0.25].iloc[0] + binomial_tree[0.25].iloc[1]) / 2

# Discount the average price by rate at time 0 and delta_t = 0.25 (we are discounting from t=0.25 to t=0)
binom_dirty_price = avg_price_dirty / np.exp(ratetree[0].iloc[0] * 0.25)

# Put it in the binonmial tree
binomial_tree[0].iloc[0] = binom_dirty_price
clean_binomial_tree[0].iloc[0] = binom_dirty_price

print(f"Initial binomial-estimated dirty price: ${round(binom_dirty_price,6)}")

# At t=0, the dirty price is the same as the clean price
print(f"Initial binomial-estimated clean price: ${round(binom_dirty_price,6)}")

Initial binomial-estimated dirty price: $101.869401
Initial binomial-estimated clean price: $101.869401

/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/2528377482.py:10: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  binomial_tree[0].iloc[0] = binom_dirty_price
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/2528377482.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  clean_binomial_tree[0].iloc[0] = binom_dirty_price

### Note:

An easy check on your code is whether it will correctly price a zero-coupon bond at a price that matches the "discounts" in the `cap_curves` data file.

***

# 2. Pricing the Callable - European

### 2.1.

Calculate and display value tree of a European-style call option on the bond analyzed in part `1`.
* `$T_o = 3$`. That is, the time-to-expiration is 3 years.
* `$K=100$`. That is, the strike is 100. This is a clean strike, meaning exercise requires paying the strike plus any accrued interest.

Do so by 
* setting the value at the time of expiration, using the value of the bond for each node at that time.
* discounting this back through time, using the (continuously-compounded) interest rate.
* recall that the tree is constructed such that the probability of moving "up" or "down" is 50%.

Note that...
* the tree of call values will not be the same size as the tree of bond values. The former goes only to $T_o=3$.

Pricing the European Call Option on the Bond

This code constructs a binomial tree for a European-style call option on the bond by:

Initializing the tree using the clean bond value tree.

Setting terminal values at T_0 = 3

Performing backward induction to compute the call option value at each node.

In [8]:
import numpy as np
import pandas as pd

# Step 1: Initialize the call option tree
call_tree = clean_binomial_tree.iloc[:13].copy()  # Copy only the first 13 states (corresponding to 3 years)
call_tree.drop([3.25, 3.50, 3.75, 4.00, 4.25, 4.50, 4.75], axis=1, inplace=True)  # Remove time steps beyond T_0 = 3

# Step 2: Define strike price (clean price strike)
K = 100  # The exercise price of the call option

# Step 3: Set terminal values (at T_0 = 3)
for j in range(13):  # Iterate over all possible states at T_0
    call_tree[3].iloc[j] = max(call_tree[3].iloc[j] - K, 0)  # Call option value = max(Bond Price - Strike, 0)

# Step 4: Perform backward induction to compute call option values at earlier time steps
for i, col in enumerate(call_tree.columns[11:0:-1]):  # Reverse iterate through time steps from T = 2.5 back to T = 0.25
    for j in range(12 - i):  # Reduce the number of states as we move backward
        avg_price = (call_tree[col + 0.25].iloc[j] + call_tree[col + 0.25].iloc[j + 1]) / 2  # Expected call value
        call_tree[col].iloc[j] = avg_price / np.exp(ratetree[col].iloc[j] * 0.25)  # Discounted expected value

# Step 5: Compute the initial value of the call option at T = 0
avg_price = (call_tree[0.25].iloc[0] + call_tree[0.25].iloc[1]) / 2  # Expected price at T = 0.25
call_tree[0].iloc[0] = avg_price / np.exp(ratetree[0].iloc[0] * 0.25)  # Discount back to T = 0

# Step 6: Display the formatted call option value tree
call_tree.style.format('{:.2f}', na_rep='').format_index('{:.2f}', axis=1)

/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/3248307878.py:13: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  call_tree[3].iloc[j] = max(call_tree[3].iloc[j] - K, 0)  # Call option value = max(Bond Price - Strike, 0)
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/3248307878.py:19: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  call_tree[col].iloc[j] = avg_price / np.exp(ratetree[col].iloc[j] * 0.25)  # Discounted expected value
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/3248307878.py:23: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  call_tree[0].iloc[0] = avg_price / np.exp(ratetree[0].iloc[0] * 0.25)  # Discount back to T = 0

### 2.2.

Show the value tree of the callable bond by subtracting the call value tree from the (subset $t\le T_o$ of the) bond value tree (calculated in part `1`.) Do this for both
* clean
* dirty

In [9]:
# 2.2 dirty

# Step 1: Initialize the callable bond tree (Dirty Prices)
callable_tree = binomial_tree.iloc[:13].copy()  # Copy only relevant rows up to T_0 = 3
callable_tree.drop([3.25, 3.50, 3.75, 4.00, 4.25, 4.50, 4.75], axis=1, inplace=True)  # Remove time steps beyond T_0 = 3

# Step 2: Compute the callable bond value at each node
for i, col in enumerate(callable_tree.columns):  # Iterate over all time steps (T = 0 to T = 3)
    for j in range(i + 1):  # Iterate over valid states (increasing with time)
        callable_tree.loc[j, col] -= call_tree.loc[j, col]  # Callable bond = Bond value - Call option value

callable_tree.style.format('{:.2f}', na_rep='').format_index('{:.2f}', axis=1)

In [10]:
# 2.2 clean

clean_callable_tree = clean_binomial_tree.iloc[:13].copy()
clean_callable_tree.drop([3.25, 3.50, 3.75, 4.00, 4.25, 4.50, 4.75], axis=1, inplace=True)

for i, col in enumerate(clean_callable_tree.columns):
    for j in range(i+1):
        clean_callable_tree[col].iloc[j] -= call_tree[col].iloc[j]

clean_callable_tree.style.format('{:.2f}',na_rep='').format_index('{:.2f}',axis=1)

/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/3028831881.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  clean_callable_tree[col].iloc[j] -= call_tree[col].iloc[j]

### 2.3.

Report the initial node value of the call option and of the callable bond.

In a table, compare these to what you got in HW 1 as the value of the embedded call and the value of the callable bond.
* In `HW 1`, we were valuing from a date nearly two weeks later, `2025-02-13`. This difference in the timing means we wouldn't expect the values to match exactly, even if the methods were entirely consistent.

In [11]:
# 2.3

hw1_embedded_call = 2.90
hw1_callable_price = 98.67

comparison_df = pd.DataFrame({
    'qty': ['embedded call', 'callable price'],
    'hw1': [hw1_embedded_call, hw1_callable_price],
    'hw4': [call_tree[0].iloc[0], callable_tree[0].iloc[0]]
}).set_index('qty')

comparison_df.style.format('{:.2f}',na_rep='')

***

# 3. Pricing the Callable - American

### 3.1.

Re-do part `2.`, but this time, make the option a **American** style. That is, allow it to be exercised at any node.
* Report the tree of callable-bond values.
* How does this compare to the European-style?

#### Note
To do this valuation, go through the procedure in `2.1.`, but at each node, compare the value for the call with the value of the payoff function based on the vanilla bond's value at that node. Take the maximum of the two. If you code this carefully, you can simply add a line of code to what you did in `2.1`.

In [ ]:
import numpy as np
import pandas as pd

# Step 1: Initialize the call option tree (American-style)
am_call_tree = clean_binomial_tree.iloc[:13].copy()  # Copy only the first 13 rows (up to T_0 = 3)
am_call_tree.drop([3.25, 3.50, 3.75, 4.00, 4.25, 4.50, 4.75], axis=1, inplace=True)  # Remove time steps beyond T_0 = 3

# Step 2: Define the strike price
K = 100  # The clean strike price

# Step 3: Set terminal values at expiration (T_0 = 3)
for j in range(13):  # Iterate over all possible states at T_0
    am_call_tree[3].iloc[j] = max(am_call_tree[3].iloc[j] - K, 0)  # Call option payoff at expiration

# Step 4: Perform backward induction to compute call option values at earlier time steps
for i, col in enumerate(am_call_tree.columns[11:0:-1]):  # Reverse iterate through time steps from T = 2.5 back to T = 0.25
    for j in range(12 - i):  # Reduce the number of valid states as we move backward
        # Compute the expected continuation value (risk-neutral expected price)
        avg_price = (am_call_tree[col + 0.25].iloc[j] + am_call_tree[col + 0.25].iloc[j + 1]) / 2
        tent_price = avg_price / np.exp(ratetree[col].iloc[j] * 0.25)  # Discount to present value

        # Compare with immediate exercise value and take the max
        am_call_tree[col].iloc[j] = max(tent_price, clean_binomial_tree[col].iloc[j] - K)

# Step 5: Compute the initial value of the call option at T = 0
avg_price = (am_call_tree[0.25].iloc[0] + am_call_tree[0.25].iloc[1]) / 2  # Expected price at T = 0.25
tent_price = avg_price / np.exp(ratetree[0].iloc[0] * 0.25)  # Discount back to T = 0
am_call_tree[0].iloc[0] = max(tent_price, clean_binomial_tree[0].iloc[0] - K)  # Apply early exercise rule

am_call_tree.style.format('{:.2f}', na_rep='').format_index('{:.2f}', axis=1)

/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/619095520.py:13: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  am_call_tree[3].iloc[j] = max(am_call_tree[3].iloc[j] - K, 0)  # Call option payoff at expiration
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/619095520.py:23: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  am_call_tree[col].iloc[j] = max(tent_price, clean_binomial_tree[col].iloc[j] - K)
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/619095520.py:28: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  am_call_tree[0].iloc[0] = max(tent_price, clean_binomial_tree[0].iloc[0] - K)  # Apply early exercise rule

### 3.2.

In which nodes will the American-style callable bond be exercised?

In [13]:
import numpy as np
import pandas as pd

# Step 1: Initialize the early exercise identification tree (copy of European call tree)
am_info_tree = call_tree.copy()  # Copy the European call value tree

# Step 2: Iterate through the tree and check for early exercise
for i, col in enumerate(am_info_tree.columns):  # Iterate over all time steps
    for j in range(i + 1):  # Iterate over valid states at each time step
        # Check if early exercise is optimal:
        # If (Vanilla Bond Price - Strike) > European Call Value, set node to True (1), else False (0)
        am_info_tree.loc[j, col] = (binomial_tree.loc[j, col] - 100 > am_info_tree.loc[j, col])

am_info_tree.style.format(na_rep='').format_index('{:.2f}', axis=1)

/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/2999270554.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'True' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  am_info_tree.loc[j, col] = (binomial_tree.loc[j, col] - 100 > am_info_tree.loc[j, col])
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/2999270554.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  am_info_tree.loc[j, col] = (binomial_tree.loc[j, col] - 100 > am_info_tree.loc[j, col])
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/2999270554.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  am_info_tree.loc[j, col] = (binomial_tree.loc[j, col] - 100 > am_info_tree.loc[j, col])
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/2999270554.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  am_info_tree.loc[j, col] = (binomial_tree.loc[j, col] - 100 > am_info_tree.loc[j, col])
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/2999270554.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  am_info_tree.loc[j, col] = (binomial_tree.loc[j, col] - 100 > am_info_tree.loc[j, col])
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/2999270554.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  am_info_tree.loc[j, col] = (binomial_tree.loc[j, col] - 100 > am_info_tree.loc[j, col])
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/2999270554.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  am_info_tree.loc[j, col] = (binomial_tree.loc[j, col] - 100 > am_info_tree.loc[j, col])
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/2999270554.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  am_info_tree.loc[j, col] = (binomial_tree.loc[j, col] - 100 > am_info_tree.loc[j, col])
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/2999270554.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  am_info_tree.loc[j, col] = (binomial_tree.loc[j, col] - 100 > am_info_tree.loc[j, col])
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/2999270554.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  am_info_tree.loc[j, col] = (binomial_tree.loc[j, col] - 100 > am_info_tree.loc[j, col])
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/2999270554.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  am_info_tree.loc[j, col] = (binomial_tree.loc[j, col] - 100 > am_info_tree.loc[j, col])
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/2999270554.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  am_info_tree.loc[j, col] = (binomial_tree.loc[j, col] - 100 > am_info_tree.loc[j, col])
/var/folders/pk/dv8l_x052_77y1vty7qynnrm0000gn/T/ipykernel_46122/2999270554.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  am_info_tree.loc[j, col] = (binomial_tree.loc[j, col] - 100 > am_info_tree.loc[j, col])

True means the American style callable bond will be exercised

False means the American style callable bond will not be exercised.

***

# 4. Pricing the Callable - Bermudan

#### This Section is NOT REQUIRED and NOT EXPECTED
Still, it is not much additional work, and some of you may find it interesting. It also illustrates the power of binomial trees in how easily they handle the Bermudan style.

### 4.1.

Re-do part `3`, but this time with **Bermudan** style exercise. 
* This corresponds to the Freddie Mac bond in `HW 1`.
* Note that the option value tree will now go all the way to $T$.

As a reminder, the Bermudan style can be exercised as early as $T_o$ all the way to $T$. It can only be exercised on specific dates at 3-month intervals, but in our quarterly-spaced tree, this means every node from $T_o$ onward.

### 4.2.

Compare the valuation to the market quote in `HW 1`.

***